*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}


.container-fluid{
    background-color:#E6EBF6;
}
.image{
    display:flex;
    align-items:center;
    justify-content:center;

}

.logo{
    height:22rem;
    width:25rem;
}


.form-label{
    font-family: Arial, sans-serif;
    font-size:1rem;
    
}
.btn {
    background-color:#1E1E1E;
    color:#fff;
    transition:0.3s all ease;
}
.btn:hover{
    color:#fff;
    background-color:#94CBC7;
    
}
.form-log {
   
}



@media only screen and (max-width: 992px) {

    .image {
        display: none;
      
    }
}


