*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}


.container-fluid {
   
    background-color: #94CBC7;
}
.image{
    display:flex;
    align-items:center;
    justify-content:center;

}

.logo{
    height:22rem;
    width:25rem;
}
.img{
  
}
.required{
    color:#ff0000;
    font-weight:bold;
}

.form-label{
    font-family: Arial, sans-serif;
    font-size:1rem;
    
}
.btn {
    background-color:#1E1E1E;
    color:#fff;
    transition:0.3s all ease;
}
.btn:hover{
    color:#fff;
    background-color:#94CBC7;
    
}
.form-log {
    background-color: #E6EBF6;
    border-radius: 20px;
    box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.75);
}



@media only screen and (max-width: 992px) {

    .image {
        display: none;
      
    }
}


